<%= simple_form_for(@new_migration || Migration.new, url: migrations_path, remote: true) do |f| %>
  <div class="modal-body">
    <%= f.input :name %>
    <%= f.input :from_url %>
    <%= f.input :to_url %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>