<div class="row">
  <div class="col-md-12">
    <%- model_class = Migration -%>
    <h1 class="page-header"><%=t '.title', default: model_class.model_name.human.pluralize.titleize %></h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name('current_site.url') %></th>
          <th><%= model_class.human_attribute_name('new_site.url') %></th>
          <th><%= model_class.human_attribute_name(:created_at) %></th>
          <th><%=t '.actions', default: t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @migrations.each do |migration| %>
          <tr>
            <td><%= migration.id %></td>
            <td>
              <%= link_to migration.name, migration_action_path(migration) %>
            </td>
            <td><%= migration.current_site.url %></td>
            <td><%= migration.new_site.url %></td>
            <td><%=l migration.created_at, format: :long %></td>
            <td>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>      
  </div>
</div>
